* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(3, 255, 58, 0.718), rgb(1, 159, 180))
}

nav{
    height: 10vh;
    /* background-color: teal; */
    /* background-image: linear-gradient( to bottom,  rgb(185, 237, 209),  rgb(255, 255, 255) ); */
    background-image: linear-gradient(to right, #55555580 , #4444449d , #5555558a);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:  0px 3px 8px rgb(0, 90, 30);

}

nav .items:hover{
    border-bottom: 4px solid rgb(242, 252, 252);
    cursor: pointer;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}
#logo {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    border: 3px  solid green;

}

.nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1.1em;
    font-weight: 500;
}

.nav-right{

}

#sign-in {
    background-image: linear-gradient(to right, rgb(55, 220, 55) , rgb(92, 220, 92));
    color: white;
    font-size: 1.08em;
    border: none;
    border-radius: 6px;
    height: 5.5vh;
    width: 7vw;
    border-right: 1px solid #fff;
    border-bottom: 2px solid #fff;
    /* box-shadow: 0px 1px 2px #fff; */
}
#sign-in:hover {
    background-image: linear-gradient(to right, rgb(18, 249, 18) , rgb(63, 244, 63));
}
#content{
    /* background-color: aquamarine; */
    height: 90vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#content .left{
    padding-left: 15vh;

    /* background-color: rgb(107, 254, 254); */
    height: 100%;
    width: 50vw;
    flex-direction: column;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

#content .left .top{
    /* padding: 40px; */
    margin: 10vh 0vw 0vh 8vw;

    width: 40vw;
    height: 30vh;
    /* background-color: rgb(171, 99, 99); */
    /* text-align: center; */

}

#content .left .top h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.9em;
    font-weight: 900;
    line-height: 6.2vh;
    color: darkgreen;


}
#content .left .top #greener-earth {
    color: #fefefe;
}
#greener-earth {
  background: linear-gradient(to right, rgb(0, 69, 13), rgb(7, 187, 34));
  background-size: 300%;
  animation: move 2s infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes move {
  0% { 
    background-position: 0%;
    

}
  100% { 
    background-position: 100%;
    
}
}
#greener-earth:hover{
    font-weight: 900;
}


#content .left .middle{
    height: 10vh;
    width: 100%;
    /* background-color: rgb(92, 120, 120); */
    display: flex;
    margin-left: 9vw;
    /* justify-content: center; */
    align-items: center;
    gap: 1.8vw;


}

.btn{
    height: 6vh;
    width: 10vw;
    background-image: linear-gradient(to right, rgb(9, 210, 90), rgb(25, 183, 25));
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    box-shadow: 0px 1px 2px #fff;

}

#content .left .bottom{
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#content .left .bottom .left{
    /* background-color: aqua; */
    /* text-align: right; */
    color: rgb(1, 58, 1);
    height: 100%;
    width: 20vw;
    padding: 6vh 0 0 6vw;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 6vh;
    /* margin-right: 70px; */


}
#features{
    font-size: 1.6em;
    padding-bottom: 4vh;


}

.list{
    list-style: none;
}
#content .left .bottom .right{
    padding: 5vh;
    height: 100%;
    width: 30vw;
    /* background-color: aquamarine; */
    line-height: 28px;
    /* margin-left: 70px; */
}

#content .right img{
    height: 100%;
    width: 100%;
    padding-left: 120px;
    border-radius: 50%;
}
